<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
  <form class="w-3/4 m-auto mt-10">
    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Entrar</ion-button>

      </ion-col>
    </ion-row>
  </form>
</ion-content>