
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/incidencias"></ion-back-button>
    </ion-buttons>
    <ion-title >
      {{patientDatos?.nombre}}
      {{patientDatos?.apellidos}}

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div class="grid h-full" *ngIf="datosIncidencia">
  <div id="mapa-box">
    <app-map *ngIf="trazoCargado" [trazo]="trazo" [dni]="patientDatos.dni"></app-map>
  </div>
  <section class="p-2 pl-6">

    <h2>Hora de salida: <span class="text-red-700"> {{fechaParseada}}</span></h2>
    <h2>Teléfono de contacto: <span class="text-cyan-700">{{patientDatos.contacts[0]?.telefono}}</span></h2>
  </section>
  <article class="flex justify-around">
    <section class="p-2">
      <img src="{{patientDatos.ruta_foto}}" alt="paciente" class="w-21 h-20">
    </section>
    <section>
      <div>
        <h1 class="text-center text-lg">Medicamentos:</h1>
   
        <ul class="list-disc w-3/4 ml-auto"
        >
          <li *ngFor="let medication of patientDatos.medications" class="text-sm">
            {{medication.nombre}}
          </li>

        </ul>
        <h2 *ngIf="patientDatos.medications.length===0">
          No hay medicamentos asignados
        </h2>
   
      </div>
    </section>
  </article>
  <!--
  <div class="bg-green-200 flex items-center justify-center"
  (click)="mostrarConfirmacion()">
    <span class="text-xl">Finalizar incidencia</span>
    <ion-icon name="checkbox-outline" class="w-14 h-14"></ion-icon>
  </div>
-->
</div>



</ion-content>
