<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="incidencias">
      <ion-icon aria-hidden="true" name="alert-circle-outline" ></ion-icon>
      <ion-label >Incidencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
