

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="d-flex h-full p-5 justify-content-center align-items-center" *ngIf="!perfil" >



    <img src="../../../../assets/imgs/loader.png" class="girar">


  </div>

  <div class="grid h-full p-5" *ngIf="perfil">

    <div class="mt-1">
      <img src="assets/imgs/fundacionlogo.png" alt="logofundacionsancebrian">
    </div>

    <div class="mt-3" >
      <h1 class="text-center text-xl p-2">
        <span>Usuario: </span>
        <span>{{perfil.name}}</span>
      </h1>
      <h1 class="text-center text-xl p-2">
        <span>Email: </span>
        <span>{{perfil.email}}</span>
      </h1>
      <h1 class="text-center text-xl p-2">
        <span>Teléfono: </span>
        <span>{{perfil.telefono}}</span>
      </h1>
    </div>
    
    <div class="flex mt-auto mb-16 justify-center w-3/4 m-auto">
      <ion-input placeholder="Nuevo teléfono" class="border-b-2 border-indigo-500 pb-0 " [(ngModel)]="telefono" ></ion-input>
      <ion-button class="danger w-fit   text-xs" (click)="updateTelefono()">Cambiar</ion-button>
    </div>
    
    <div class="flex mt-auto mb-16 justify-center w-3/4 m-auto">
      <ion-input placeholder="Nuevo email" class="border-b-2 border-indigo-500 pb-0 " [(ngModel)]="email" ></ion-input>
      <ion-button class="danger w-fit   text-xs" (click)="updateEmail()">Cambiar</ion-button>
    </div>

    <div class="flex mt-auto">
      <ion-button color="danger" class=" w-1/2 m-auto mb-16" (click)="doLogout()">Cerrar sesion</ion-button>
    </div>

  </div>


</ion-content>

