.girar{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    max-width: 50vw;
    max-height: 20vh;
}