
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Incidencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="incidencias && incidencias.length > 0; else status">

    <ion-item *ngFor="let incidencia of incidencias"
    routerLink="gestion/{{incidencia.patient.dni}}"
    >
      <ion-label class="incidencia">
        {{incidencia.patient.nombre}}

        {{incidencia.patient.apellidos}}
        |
        {{incidencia.fecha_inicio}}

      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #status>
    <h3 *ngIf="!incidencias">Cargando...</h3>
    <h3 *ngIf="incidencias.length == 0">No hay incidencias en curso</h3>
  </ng-template>


</ion-content>
