<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <header>
    <h1 class="p-4 text-center">
      <span>Mapa con salidas</span>
      <span *ngIf="this.incidencias?.length == 0"> (Sin salidas)</span>
    </h1>
  </header>

  <div class="mapa-box">
    <app-map
    *ngIf="incidencias else loading"
    [puntos]="puntos"></app-map>
  </div>

  <ng-template #loading>
    <div class="d-flex h-60">
        
          <span class="loader"></span>
        
    </div>
  </ng-template>

</ion-content>
